* {
  font-family: "Liberation Sans", sans-serif;
}

body, #calculator-area, #operation-display, #number-display, #button-area, .button-row {
  display: flex;
}

body {
  justify-content: center;
}

#calculator-area, #button-area {
  flex-direction: column;
}

#calculator-area, #display-container {
  border: solid 1px;
}

#calculator-area {
  width: 250px;
  height: 385px;
  padding: 10px;
  gap: 10px;
}

#display-container {
  padding: 10px;
  height: 60px;
}

#operation-display, #number-display {
  justify-content: right;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

#operation-display {
  height: 20px;
  font-size: 18px;
}

#number-display {
  height: 30px;
  margin-top: 10px;
}

.display-normal {
  font-size: 28px;
}

.display-error-msg {
  font-size: 26px;
}

#button-area, .button-row {
  gap: 5px;
}

#button-area {
  flex-grow: 1;
}

.button-row {
  flex: 1 0 0;
}

button {
  font-size: 20px;
  padding: 0px;
  flex: 1 0 0;
}

#back {
  font-size: 26px;
}
